%% -*- erlang -*-
{sub_dirs, ["rel", "apps/watchdog"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, {i, "../../deps/bitcask/include"}, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
        {lager, "2.0.*", {git, "git://github.com/basho/lager", {tag,"2.0.3"}}},
        {meck, "0.8.1", {git, "git://github.com/basho/meck.git", {tag, "0.8.1"}}},
        {cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {branch, develop}}},
        {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {branch, "master"}}},
        {folsom, ".*", {git, "https://github.com/basho/folsom.git", {tag, "0.7.4p4"}}},
        {ranch, "1.0.*", {git, "https://github.com/extend/ranch.git", {tag, "1.0.0"}}},
        {fqc, ".*", {git, "https://github.com/project-fifo/fqc.git", {branch, "master"}}}
       ]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
