%% -*- erlang -*-
{sub_dirs, ["rel", "apps/watchdog"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, {i, "../../deps/bitcask/include"}, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
        {edown,".*",     {git, "https://github.com/uwiger/edown.git",       {branch, "master"}}},
        {lager, "2.1.1"},
        {ranch, "1.1.0"},
        {cuttlefish, ".*", {git, "https://github.com/tsloughter/cuttlefish.git", {branch, "develop"}}},
        {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {branch, "master"}}},
        {folsom, ".*", {git, "https://github.com/basho/folsom.git", {tag, "0.7.4p5"}}},
        {gproc, "0.2.*", {git, "https://github.com/uwiger/gproc.git", {tag, "v0.2.10"}}},
        {elarm, "0.3.*", {git, "https://github.com/esl/elarm.git", {tag, "0.3.0"}}},
        fifo_utils,
        recon

       ]}.

%%-------------------------------------------------------------------
%% Plugins
%%-------------------------------------------------------------------

{plugins,
 [pc,
  {rebar3_cuttlefish, ".*", {git, "git://github.com/tsloughter/rebar3_cuttlefish.git", {branch, "master"}}}
 ]}.


%%-------------------------------------------------------------------
%% Profiles
%%-------------------------------------------------------------------

{profiles,
 [{prod, [{relx, [{dev_mode, false}]}]},
  {eqc,
   [{plugins, [rebar3_eqc]},
    {deps, [fqc]}]}]}.


%%-------------------------------------------------------------------
%% Overrides
%%-------------------------------------------------------------------

{overrides,
 [
  %% R18
  {override, edown,
   [{erl_opts, [debug_info]}]},
  {override, eper,
   [{erl_opts, [debug_info]}]},
  {override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]}]}.

%%-------------------------------------------------------------------
%% RELx
%%-------------------------------------------------------------------

{relx,
 [{release, {"watchdog", "0.7.0"},
   [sasl,
    watchdog,
    {cuttlefish, load},
    {runtime_tools, load}, %% for dyntrace
    %% runtime tools
    {recon, load}
   ]},
  {dev_mode, true},
  {include_erts, true},
  {generate_start_script, false},
  {overlay_vars, "rel/vars.config"},
  {overlay,
   [{mkdir, "etc"},
    {copy, "rel/files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
    {copy, "rel/files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
    {template, "rel/files/watchdog", "bin/watchdog"},

    {copy, "_build/default/bin/cuttlefish", "bin/cuttlefish"},
    {copy, "share", "share"},
    %% {copy, "_build/prod/lib/fifo_utils/priv/update_config.sh", "share/"},
    {template, "schema/watchdog.schema", "share/schema/00-watchdog.schema"},
    {template, "schema/lager.schema", "share/schema/01-lager.schema"},
    {template, "schema/erlang_vm.schema", "share/schema/02-vm.schema"}
   ]}]}.


%%-------------------------------------------------------------------
%% Cuttlefish
%%-------------------------------------------------------------------

{cuttlefish_filename, "watchdog.conf.example"}.

{provider_hooks,
 [{post, [{release, cuttlefish}]}]}.
