%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "watchdog", "0.1.0",
        [
         kernel,
         stdlib,
         sasl,
         watchdog
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "watchdog"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, watchdog, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "watchdog"}.
{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "etc"},
           {mkdir, "share"},
           {mkdir, "share/schema"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "watchdog/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {template, "files/watchdog", "bin/watchdog"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"},
           {template, "../share/watchdog.xml", "share/watchdog.xml"},
           {template, "../schema/watchdog.schema", "share/schema/01-watchdog.schema"},
           {template, "../schema/lager.schema", "share/schema/03-lager.schema"},
           {template, "../schema/erlang_vm.schema", "share/schema/04-vm.schema"}
          ]}.
