{log_path,        "/var/log/watchdog"}.
{db_path,         "/var/db/watchdog"}.
{run_user,        "watchdog"}.

{node,                  "watchdog@127.0.0.1"}.
{crash_dump,            "/var/log/watchdog"}.
{cookie,                "watchdog"}.
{run_user,              "watchdog"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "watchdog.conf"}.
