{log_path,        "/var/log/watchdog_fence"}.
{db_path,         "/var/db/watchdog_fence"}.
{run_user,        "watchdog"}.

{node,                  "watchdog_fence@127.0.0.1"}.
{crash_dump,            "/var/log/watchdog_fence"}.
{cookie,                "watchdog_fence"}.
{run_user,              "watchdog_fence"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "watchdog_fence.conf"}.
